.post {
  width: 70%;
  vertical-align: top;
  background: white;
  display: inline-block;
  box-sizing: border-box;
  padding: 0.8rem;
  border: 0.5px solid #d3d3d3;
  border-radius: 0.8rem;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
  @media (max-width: 768px) {
    width: 100%;
  }
  .title {
    margin-bottom: 20px;
  }

  .createAt {
    margin-bottom: 40px;
  }
  > .content {
    & > h1 {
      font-size: 30px;
      font-weight: bold;
      margin: 40px 0 20px;
      background-color: #eee;
      padding: 10px 20px;
      border-radius: 5px;
    }

    & > h2 {
      font-size: 24px;
      font-weight: bold;
      margin: 40px 0 16px;
      border-bottom: 1px solid #ddd;
    }

    & > p {
      line-height: 1.8;
      letter-spacing: 0.2px;
    }

    & > ol {
      list-style-type: decimal;
      list-style-position: inside;
    }
    > figure img {
      max-width: 100%;
      height: auto;
    }
  }
}

.contact {
  width: 90%;
  @media (max-width: 768px) {
    width: 100%;
  }
  background: white;
  margin: 0 auto;
  display: inline-block;
  box-sizing: border-box;
  padding: 0.8rem;
  border: 0.5px solid #d3d3d3;
  border-radius: 0.8rem;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
  iframe {
    width: 100%;
  }
}
