.post {
  width: 70%;
  vertical-align: top;
  background: white;
  display: inline-block;
  box-sizing: border-box;
  padding: 0.8rem;
  margin: 1rem;
  border: 0.5px solid #d3d3d3;
  border-radius: 0.8rem;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
  .imageWrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    > .displayTag {
      width: 60%;
      position: absolute;
      top: 1px;
      left: 1px;
      z-index: 1000;
      > div {
        font-size: 0.8rem;
        padding: 0.4rem;
      }
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      object-fit: cover;
      @media (max-width: 768px) {
        padding: 0;
      }
    }
  }
  > .content {
    padding: 1rem;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
  .title {
    margin-bottom: 20px;
  }

  .createAt {
    margin-bottom: 40px;
  }
  > .content {
    & > h2 {
      font-size: 24px;
      font-weight: bold;
      margin: 40px 0 20px;
      background-color: #eee;
      padding: 10px 20px;
      border-radius: 5px;
    }

    & > h3 {
      font-size: 18px;
      font-weight: bold;
      margin: 40px 0 16px;
      border-bottom: 1px solid #ddd;
    }

    & > p {
      line-height: 1.8;
      letter-spacing: 0.2px;
    }

    & > ol {
      list-style-type: decimal;
      list-style-position: inside;
    }
    > figure img {
      max-width: 100%;
      height: auto;
    }
  }
  @media (max-width: 768px) {
    figure {
      margin: 0;
    }
  }
}
