body {
  margin: 0;
  padding: 0;
  background: #f3f5f8;
}
ul {
  padding: 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

@media (max-width: 768px) {
  .display_none_mobile {
    display: none;
  }

  .display_block_mobile {
    display: block;
  }
}

@media (min-width: 768px) {
  .display_inline_block_pc {
    display: inline-block;
  }
}
