body {
  margin: 0;
  padding: 0;
  background: #f3f5f8;
  font-family: "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, sans-serif;
}
ul {
  padding: 0;
}

.adImage > a {
  display: flex;
  justify-content: center;
}

.adImage > a > img {
  width: 60%;
  height: auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

@media (max-width: 768px) {
  .display_none_mobile {
    display: none;
  }

  .display_block_mobile {
    display: block;
  }
}

@media (min-width: 768px) {
  .display_inline_block_pc {
    display: inline-block;
  }
}
