body {
  margin: 0;
  padding: 0;
  background: #f3f5f8;
  font-family: "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, sans-serif;
}
img {
  max-width: 100%;
}
ul {
  padding: 0;
}

.adImage > a {
  display: flex;
  justify-content: center;
}

.adImage > a > img {
  width: 60%;
  height: auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

@media (max-width: 768px) {
  .display_none_mobile {
    display: none;
  }

  .display_block_mobile {
    display: block;
  }
}

@media (min-width: 768px) {
  .display_inline_block_pc {
    display: inline-block;
  }
}

.marker {
  font-weight: bold;
  background: linear-gradient(transparent 60%, #ffd0d1 60%);
}

.sticky-blue {
  border-left: 6px solid #0066cc;
  background-color: #e5f2ff;
  border-radius: 4px;
  padding: 1rem;
  line-height: 2rem;
}

.font-bold {
  font-weight: bold;
}

/* 吹き出し用 */
.comment {
  display: flex;
  align-items: stretch;
  vertical-align: top;
}
.icon {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon > img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.icon > p {
  margin: 0;
}
.comment .icon {
  /* 必要に応じて余白、サイズなどを調整 */
  margin-right: 10px; /* 右側の余白 */
}
@media (max-width: 768px) {
  .comment {
    font-size: 12px;
  }
}

.comment > p {
  margin: 0;
  position: relative;
  padding: 10px;
  background: #f9f9f9;
  color: #333;
  border-radius: 10px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 82%;
}

@media (max-width: 768px) {
  .comment > p {
    max-width: 64%;
  }
}

.comment > p:after {
  content: "";
  position: absolute;
  left: -16px;
  top: 50%;
  margin-top: -10px;
  border: 10px solid transparent;
  border-right: 10px solid #f9f9f9;
}
