.header {
  width: 100%;
}
.title {
  margin-bottom: 20px;
}

.createAt {
  margin-bottom: 40px;
}
.imageWrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;
  }
}

.blogs {
  display: inline-block;
  margin-right: auto;
  width: 70%;
  vertical-align: top;
  box-sizing: border-box;
  @media (max-width: 768px) {
    width: 90%;
  }
  > li {
    list-style: none;
    display: inline-block;
    background: white;
    padding: 0.6rem;
    border: 0.5px solid #d3d3d3;
    border-radius: 0.8rem;
    margin: 0.6rem;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
    width: 40%;
    > .imageWrapper > img {
      padding: 1rem;
    }
    > a {
      text-decoration: none;
    }
    @media (max-width: 768px) {
      width: 100%;
    }
  }
}

.footer {
  width: 26%;
  background: white;
  display: inline-block;
  margin: 0.8rem;
  box-sizing: border-box;
  padding: 0.8rem;
  border: 0.5px solid #d3d3d3;
  border-radius: 0.8rem;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
  @media (max-width: 768px) {
    width: 100%;
    display: block;
    margin: auto;
  }
}

.post {
  & > h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 40px 0 20px;
    background-color: #eee;
    padding: 10px 20px;
    border-radius: 5px;
  }

  & > h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 40px 0 16px;
    border-bottom: 1px solid #ddd;
  }

  & > p {
    line-height: 1.8;
    letter-spacing: 0.2px;
  }

  & > ol {
    list-style-type: decimal;
    list-style-position: inside;
  }
}
